In [5]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
    [["Simba", "Coke", "Cadbury", "Pepper Steak", "Apple", "Vanilla", "Spinach"],
    ["Lays", "Fanta", "Tex", "Chicken", "Orange", "Chocolate", "Cabbage"]],
    index = ["a", "b"],
    columns = ["Chips", "Cooldrinks", "Chocolates", "Pies", "Fruit", "Cupcakes", "Veggies"])

df

   Chips Cooldrinks Chocolates          Pies   Fruit   Cupcakes  Veggies
a  Simba       Coke    Cadbury  Pepper Steak   Apple    Vanilla  Spinach
b   Lays      Fanta        Tex       Chicken  Orange  Chocolate  Cabbage